# Basics

# Colors for ls and grep
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

## clear alias
alias c='clear'

## ls aliases
alias l="ls -lh"
alias ll='ls -alF'
alias la='ls -A'
alias lg='l | grep'
alias ls="ls -G"
alias lt="ls -lht"

# GIT Aliases

alias ga='git add -A'
alias gc='git commit'
alias gac='git add -A && git commit -m'
alias gb='git branch'
alias gcb='git checkout -b'
alias gl='git log --oneline'
alias gs='git status -s'

# Reload/edit aliases

alias eb='vim ~/.bashrc'
alias sb='source ~/.bashrc'

# Daily Journal
alias dj='echo `date +%Y-%m-%d`.md | xargs touch'

# Edit vimrc
alias ev='vim ~/.vimrc'

# Generating tags

alias ct='ctags -R .'
alias ctl='ctags -R --fields=+l --languages=python --python-kinds=-iv -f ./tags $(python3 -c "import os, sys; print('"' '"'.join('"'"'{}'"'"'.format(d) for d in sys.path if os.path.isdir(d)))")'

# zshrc
alias ez="vim ~/.zshrc"
alias sz="source ~/.zshrc"
